<div class="container">
    <h1> O que está acontecendo</h1>

<!------------------------------------------------------------->
    <div class="item">
        <span>Assuntos do momento no Brasil</span>
        <strong>Bootcamp da Rocketseat</strong>
    </div>
<!------------------------------------------------------------->

<!------------------------------------------------------------->
<div class="item">
    <span>Assuntos do momento no Brasil</span>
    <strong>Pesquisa mostra que sobram vagas de TI no Brasil</strong>
</div>
<!------------------------------------------------------------->

<!------------------------------------------------------------->
<div class="item">
    <span>Assuntos do momento no Brasil</span>
    <strong>SpaceX quer construir rede de internet em Marte</strong>
</div>
<!------------------------------------------------------------->

<h2>Mostrar mais</h2>
    
</div>
