<div class="container">
    <div class="tabTweets"> Tweets</div>

    <div class="tweets">

        <app-tweet 
            name="João Castro"
            user="@joao_castro" 
            date="27 de out" 
            desc="Quando o objetivo é claro, é fácil manter o caminho certo 👨‍💻"
            img="objetivo.png">
        </app-tweet>

        <app-tweet 
            name="Ana Freitas"
            user="@ana_freitas" 
            date="24 de out" 
            desc="Aprenda Typescript!"
            img="typescript.png">
        </app-tweet>
        
    </div>
</div><!--Container-->
