div {
    text-align: center;
}

.btn--edit {   
    border-radius: 25px;
    font-weight: bold; 
    cursor: pointer;
    outline: 0;

    padding: 6px 16px;
    font-size: 13px;
}

.btn--tweet {   
    border-radius: 25px;
    font-weight: bold; 
    cursor: pointer;
    outline: 0;

    padding: 10px 60px;
    font-size: 14px;
}

.btn--tweet--mobile {   
    border-radius: 50%;
    font-weight: bold; 
    cursor: pointer;
    outline: 0;

    padding: 10px 15px;

    font-size: 18px;
}

.outlined {
    background: var(--transparent);
    color: var(--twitter);
    border: 2px solid var(--twitter);
}

.outlined:hover {
    background: var(--twitter-dark-hover);
}

.fill {
    background: var(--twitter);
    color: var(--white);
    border: none;
}

.fill:hover {
    background: var(--twitter-light-hover);
}
