<div class="container">
    <h1> Talvez você curta</h1>

<!------------------------------------------------------------------------------------>
    <div class="item">
        <div class="avatar"></div>

        <div class="profileData">
            <strong>Luiz Batanero</strong>
            <span>@luizbatanero</span>
        </div>

        <div class="followButton">
            <app-button btn="Seguir" type="btn--edit outlined"></app-button>
        </div>
    </div><!--Item-->
<!------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------>
    <div class="item">
        <div class="avatar"></div>

        <div class="profileData">
            <strong>Eduarda Miranda</strong>
            <span>@dudamranda</span>
        </div>

        <div class="followButton">
            <app-button btn="Seguir" type="btn--edit outlined"></app-button>
        </div>
    </div><!--Item-->
<!------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------>
<div class="item">
    <div class="avatar"></div>

    <div class="profileData">
        <strong>Andréia Miranda</strong>
        <span>@deiachmiranda</span>
    </div>

    <div class="followButton">
        <app-button btn="Seguir" type="btn--edit outlined"></app-button>
    </div>
</div><!--Item-->
<!------------------------------------------------------------------------------------>

<h2>Mostrar mais</h2>
</div>

